<div class="bg-dark p-3">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="row">
      <h1 class="text-success text-center mb-5">
        SLA Exclusion Report Automation
      </h1>
      <br />
      <div class="col-sm-6">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">SHQ Devices</h5>
            <p class="card-text">Select your input files for SHQ Devices.</p>
            <app-shq-component
              [shouldDisable]="shouldDisable"
              (isShqLoading)="isShqLoading($event)"
            ></app-shq-component>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h5 class="card-title pb-2">BLOCK Devices</h5>
            <div class="mt-4">
              <p class="card-text mb-2">
                Select your input files for Block devices.
              </p>
              <app-block-component
                [shouldDisable]="shouldDisable"
                (isBlockLoading)="isBlockLoading($event)"
              ></app-block-component>
              <div class="mt-4">
                <a (click)="this.blockService.downloadBlockInputTemplate()"
                  >Click here to download template</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card bg-danger text-white w-50">
            <div class="card-body">
              <h5 class="card-title">GP Devices</h5>
              <p class="card-text">Select your input files for GP Devices.</p>
              <app-gp
                [shouldDisable]="shouldDisable"
                (isGpLoading)="isGpLoading($event)"
              ></app-gp>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
